includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
	level: 6
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor-prefixed/autoload.php
	excludePaths:
		- */vendor/*
		- */vendor-prefixed/*
		- */node_modules/*
		- */eightshift/*
		- */public/*
		- */tests/*
		- */docs/*
	paths:
		- .
